# Taxi Fare Prediction

## Importing Data

In [0]:
import numpy as np
import pandas as pd
from collections import defaultdict
import matplotlib.pyplot as plt
import matplotlib
import glob
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
# Connecting Google Drive with Colab to get Data
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

## Reading Data

In [0]:
path = '/content/drive/My Drive/Data/'

Green Taxi Data

In [4]:
# Reading Data from multiple data files and combining them
all_files = glob.glob(path + 'Taxi_Data/*.csv')

li = []

for filename in all_files:
    temp_df = pd.read_csv(filename, index_col=None, header=0)
    temp_df.columns = [x.lower() for x in temp_df.columns]
    li.append(temp_df)

taxi_df = pd.concat(li, axis=0, ignore_index=True)
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16385532 entries, 0 to 16385531
Data columns (total 24 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendorid               object
 1   lpep_pickup_datetime   object
 2   lpep_dropoff_datetime  object
 3   store_and_fwd_flag     object
 4   ratecodeid             int64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   dropoff_longitude      float64
 8   dropoff_latitude       float64
 9   passenger_count        float64
 10  trip_distance          float64
 11  fare_amount            float64
 12  extra                  float64
 13  mta_tax                float64
 14  tip_amount             float64
 15  tolls_amount           float64
 16  ehail_fee              float64
 17  improvement_surcharge  float64
 18  total_amount           float64
 19  payment_type           float64
 20  trip_type              float64
 21  pulocationid           float64
 22  dolocationid           float64
 23  trip_type              float64
dtypes: float64(19), int64(1), object(4)
memory usage: 2.9+ GB

In [5]:
taxi_df.head(10)

  vendorid lpep_pickup_datetime  ... dolocationid trip_type
0        2  2016-01-01 00:29:24  ...          NaN       NaN
1        2  2016-01-01 00:19:39  ...          NaN       NaN
2        2  2016-01-01 00:19:33  ...          NaN       NaN
3        2  2016-01-01 00:22:12  ...          NaN       NaN
4        2  2016-01-01 00:24:01  ...          NaN       NaN
5        2  2016-01-01 00:32:59  ...          NaN       NaN
6        2  2016-01-01 00:34:42  ...          NaN       NaN
7        2  2016-01-01 00:31:23  ...          NaN       NaN
8        2  2016-01-01 00:24:40  ...          NaN       NaN
9        2  2016-01-01 00:28:59  ...          NaN       NaN

[10 rows x 24 columns]

In [6]:
taxi_df.describe()

         ratecodeid  pickup_longitude  ...  dolocationid  trip_type
count  1.638553e+07      9.018030e+06  ...  7.367502e+06        0.0
mean   5.879965e+01     -7.381650e+01  ...  2.785166e+00        NaN
std    8.226787e+01      3.013607e+00  ...  2.938928e+00        NaN
min    1.000000e+00     -1.152825e+02  ...  0.000000e+00        NaN
25%    1.000000e+00     -7.396101e+01  ...  1.020000e+00        NaN
50%    1.000000e+00     -7.394657e+01  ...  1.810000e+00        NaN
75%    1.070000e+02     -7.391886e+01  ...  3.460000e+00        NaN
max    2.650000e+02      0.000000e+00  ...  6.985600e+02        NaN

[8 rows x 20 columns]

Weather Data

In [7]:
weather_csv = 'Monthly_Weather_Raw_JFK_Updated.csv'
weather_df = pd.read_csv(path+weather_csv)
weather_df.rename(columns={'Wind (mph) - Max': 'Wind (mph) - Avg',
                           'Wind (mph) - Avg': 'Wind (mph) - Min',
                           'Wind (mph) - Max?!?': 'Wind (mph) - Max'}, 
                  inplace=True)
# weather_df["Wind (mph) - Max"] = weather_df["Wind (mph) - Max"].astype(int)
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Month                        366 non-null    int64
 1   Day                          366 non-null    int64
 2   Temp. (Degrees F) - Max      366 non-null    int64
 3   Temp. (Degrees F) - Avg      366 non-null    int64
 4   Temp. (Degrees F) - Min      366 non-null    int64
 5   Dew Point (Degrees F) - Max  366 non-null    int64
 6   Dew Point (Degrees F) - Avg  366 non-null    int64
 7   Dew Point (Degrees F) - Min  366 non-null    int64
 8   Humidity (%) - Max           366 non-null    int64
 9   Humidity (%) - Avg           366 non-null    int64
 10  Humidity (%) - Min           366 non-null    int64
 11  Sea Level Press. (in) - Max  366 non-null    float64
 12  Sea Level Press. (in) - Avg  366 non-null    float64
 13  Sea Level Press. (in) - Min  366 non-null    float64
 14  Visibility (mi) - Max        366 non-null    int64
 15  Visibility (mi) - Avg        366 non-null    int64
 16  Visibility (mi) - Min        366 non-null    int64
 17  Wind (mph) - Avg             366 non-null    int64
 18  Wind (mph) - Min             366 non-null    int64
 19  Wind (mph) - Max             366 non-null    object
 20  Precipitation (in) - Sum     366 non-null    float64
 21  Event                        151 non-null    object
dtypes: float64(4), int64(16), object(2)
memory usage: 63.0+ KB

In [8]:
weather_df.head(10)

   Month  Day  ...  Precipitation (in) - Sum     Event
0      1    1  ...                      0.00       NaN
1      1    2  ...                      0.00       NaN
2      1    3  ...                      0.00       NaN
3      1    4  ...                      0.00       NaN
4      1    5  ...                      0.00       NaN
5      1    6  ...                      0.00       NaN
6      1    7  ...                      0.00       NaN
7      1    8  ...                      0.00       NaN
8      1    9  ...                      0.02       NaN
9      1   10  ...                      1.28  Fog,Rain

[10 rows x 22 columns]

In [9]:
weather_df.describe()

            Month         Day  ...  Wind (mph) - Min  Precipitation (in) - Sum
count  366.000000  366.000000  ...        366.000000                366.000000
mean     6.513661   15.756831  ...         11.467213                  0.097855
std      3.455958    8.823592  ...          4.463277                  0.286195
min      1.000000    1.000000  ...          4.000000                  0.000000
25%      4.000000    8.000000  ...          8.000000                  0.000000
50%      7.000000   16.000000  ...         11.000000                  0.000000
75%      9.750000   23.000000  ...         14.000000                  0.020000
max     12.000000   31.000000  ...         25.000000                  2.900000

[8 rows x 20 columns]

## Data Cleaning

Green Taxi Data

In [10]:
taxi_df.isnull().sum().sort_values(ascending = False)

trip_type                16385532
pulocationid              9018030
ehail_fee                 9018030
dolocationid              9018030
trip_type                 7367946
dropoff_longitude         7367502
payment_type              7367502
tip_amount                7367502
pickup_longitude          7367502
pickup_latitude           7367502
dropoff_latitude          7367502
total_amount                   28
lpep_pickup_datetime            0
lpep_dropoff_datetime           0
store_and_fwd_flag              0
ratecodeid                      0
fare_amount                     0
passenger_count                 0
trip_distance                   0
extra                           0
mta_tax                         0
tolls_amount                    0
improvement_surcharge           0
vendorid                        0
dtype: int64

In [11]:
final_taxi_df = taxi_df.drop(columns=['lpep_pickup_datetime', 
                                      'lpep_dropoff_datetime', 
                                      'trip_type',
                                      'pulocationid',
                                      'ehail_fee',
                                      'dolocationid',
                                      'trip_type',
                                      'dropoff_longitude',
                                      'payment_type',
                                      'tip_amount',
                                      'pickup_longitude',
                                      'pickup_latitude',
                                      'dropoff_latitude',
                                      'trip_type '])
final_taxi_df = final_taxi_df[final_taxi_df["total_amount"].notna()]
final_taxi_df["Date"] = taxi_df["lpep_pickup_datetime"].apply(lambda x: x.split(' ')[0])
final_taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16385504 entries, 0 to 16385531
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendorid               object
 1   store_and_fwd_flag     object
 2   ratecodeid             int64
 3   passenger_count        float64
 4   trip_distance          float64
 5   fare_amount            float64
 6   extra                  float64
 7   mta_tax                float64
 8   tolls_amount           float64
 9   improvement_surcharge  float64
 10  total_amount           float64
 11  Date                   object
dtypes: float64(8), int64(1), object(3)
memory usage: 1.6+ GB

In [12]:
final_taxi_df.head(10)

  vendorid store_and_fwd_flag  ...  total_amount        Date
0        2                  N  ...         11.16  2016-01-01
1        2                  N  ...         16.80  2016-01-01
2        2                  N  ...         22.25  2016-01-01
3        2                  N  ...         14.80  2016-01-01
4        2                  N  ...         13.30  2016-01-01
5        2                  N  ...          8.30  2016-01-01
6        2                  N  ...          6.30  2016-01-01
7        2                  N  ...          8.30  2016-01-01
8        2                  N  ...         15.30  2016-01-01
9        2                  N  ...         11.90  2016-01-01

[10 rows x 12 columns]

Categorical Fields: vendorid, ratecodeid, store_and_fwd_flag, trip_type

Weather Data

In [13]:
weather_df.isnull().sum().sort_values(ascending = False)

Event                          215
Precipitation (in) - Sum         0
Day                              0
Temp. (Degrees F) - Max          0
Temp. (Degrees F) - Avg          0
Temp. (Degrees F) - Min          0
Dew Point (Degrees F) - Max      0
Dew Point (Degrees F) - Avg      0
Dew Point (Degrees F) - Min      0
Humidity (%) - Max               0
Humidity (%) - Avg               0
Humidity (%) - Min               0
Sea Level Press. (in) - Max      0
Sea Level Press. (in) - Avg      0
Sea Level Press. (in) - Min      0
Visibility (mi) - Max            0
Visibility (mi) - Avg            0
Visibility (mi) - Min            0
Wind (mph) - Avg                 0
Wind (mph) - Min                 0
Wind (mph) - Max                 0
Month                            0
dtype: int64

In [14]:
final_weather_df = weather_df.drop(columns=['Event'])
final_weather_df["Day"] = final_weather_df["Day"].replace([1,2,3,4,5,6,7,8,9], ['01','02','03','04','05','06','07', '08', '09'])
final_weather_df["Month"] = final_weather_df["Month"].replace([1,2,3,4,5,6,7,8,9], ['01','02','03','04','05','06','07', '08', '09'])
final_weather_df["Date"] = "2016-" + final_weather_df["Month"].astype(str) + "-" + final_weather_df["Day"].astype(str)
final_weather_df = final_weather_df.drop(columns=['Day', 'Month'])
final_weather_df = final_weather_df[(final_weather_df['Wind (mph) - Max']!='-')]
final_weather_df["Wind (mph) - Max"] = final_weather_df["Wind (mph) - Max"].astype(int)
final_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 360 entries, 0 to 365
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Temp. (Degrees F) - Max      360 non-null    int64
 1   Temp. (Degrees F) - Avg      360 non-null    int64
 2   Temp. (Degrees F) - Min      360 non-null    int64
 3   Dew Point (Degrees F) - Max  360 non-null    int64
 4   Dew Point (Degrees F) - Avg  360 non-null    int64
 5   Dew Point (Degrees F) - Min  360 non-null    int64
 6   Humidity (%) - Max           360 non-null    int64
 7   Humidity (%) - Avg           360 non-null    int64
 8   Humidity (%) - Min           360 non-null    int64
 9   Sea Level Press. (in) - Max  360 non-null    float64
 10  Sea Level Press. (in) - Avg  360 non-null    float64
 11  Sea Level Press. (in) - Min  360 non-null    float64
 12  Visibility (mi) - Max        360 non-null    int64
 13  Visibility (mi) - Avg        360 non-null    int64
 14  Visibility (mi) - Min        360 non-null    int64
 15  Wind (mph) - Avg             360 non-null    int64
 16  Wind (mph) - Min             360 non-null    int64
 17  Wind (mph) - Max             360 non-null    int64
 18  Precipitation (in) - Sum     360 non-null    float64
 19  Date                         360 non-null    object
dtypes: float64(4), int64(15), object(1)
memory usage: 59.1+ KB

In [15]:
final_weather_df.head(10)

   Temp. (Degrees F) - Max  ...        Date
0                       44  ...  2016-01-01
1                       41  ...  2016-01-02
2                       48  ...  2016-01-03
3                       38  ...  2016-01-04
4                       29  ...  2016-01-05
5                       40  ...  2016-01-06
6                       46  ...  2016-01-07
7                       47  ...  2016-01-08
8                       53  ...  2016-01-09
9                       58  ...  2016-01-10

[10 rows x 20 columns]

Merging Data

In [16]:
final_df = final_taxi_df.merge(right=final_weather_df, on='Date')
final_df.head(10)

  vendorid store_and_fwd_flag  ...  Wind (mph) - Max  Precipitation (in) - Sum
0        2                  N  ...                33                       0.0
1        2                  N  ...                33                       0.0
2        2                  N  ...                33                       0.0
3        2                  N  ...                33                       0.0
4        2                  N  ...                33                       0.0
5        2                  N  ...                33                       0.0
6        2                  N  ...                33                       0.0
7        2                  N  ...                33                       0.0
8        2                  N  ...                33                       0.0
9        2                  N  ...                33                       0.0

[10 rows x 31 columns]

In [17]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8897920 entries, 0 to 8897919
Data columns (total 31 columns):
 #   Column                       Dtype
---  ------                       -----
 0   vendorid                     object
 1   store_and_fwd_flag           object
 2   ratecodeid                   int64
 3   passenger_count              float64
 4   trip_distance                float64
 5   fare_amount                  float64
 6   extra                        float64
 7   mta_tax                      float64
 8   tolls_amount                 float64
 9   improvement_surcharge        float64
 10  total_amount                 float64
 11  Date                         object
 12  Temp. (Degrees F) - Max      int64
 13  Temp. (Degrees F) - Avg      int64
 14  Temp. (Degrees F) - Min      int64
 15  Dew Point (Degrees F) - Max  int64
 16  Dew Point (Degrees F) - Avg  int64
 17  Dew Point (Degrees F) - Min  int64
 18  Humidity (%) - Max           int64
 19  Humidity (%) - Avg           int64
 20  Humidity (%) - Min           int64
 21  Sea Level Press. (in) - Max  float64
 22  Sea Level Press. (in) - Avg  float64
 23  Sea Level Press. (in) - Min  float64
 24  Visibility (mi) - Max        int64
 25  Visibility (mi) - Avg        int64
 26  Visibility (mi) - Min        int64
 27  Wind (mph) - Avg             int64
 28  Wind (mph) - Min             int64
 29  Wind (mph) - Max             int64
 30  Precipitation (in) - Sum     float64
dtypes: float64(12), int64(16), object(3)
memory usage: 2.1+ GB

In [18]:
final_df.isnull().sum().sort_values(ascending = False)

Precipitation (in) - Sum       0
Temp. (Degrees F) - Min        0
store_and_fwd_flag             0
ratecodeid                     0
passenger_count                0
trip_distance                  0
fare_amount                    0
extra                          0
mta_tax                        0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
Date                           0
Temp. (Degrees F) - Max        0
Temp. (Degrees F) - Avg        0
Dew Point (Degrees F) - Max    0
Wind (mph) - Max               0
Dew Point (Degrees F) - Avg    0
Dew Point (Degrees F) - Min    0
Humidity (%) - Max             0
Humidity (%) - Avg             0
Humidity (%) - Min             0
Sea Level Press. (in) - Max    0
Sea Level Press. (in) - Avg    0
Sea Level Press. (in) - Min    0
Visibility (mi) - Max          0
Visibility (mi) - Avg          0
Visibility (mi) - Min          0
Wind (mph) - Avg               0
Wind (mph) - Min               0
vendorid                       0
dtype: int64

In [19]:
final_df.describe()

         ratecodeid  ...  Precipitation (in) - Sum
count  8.897920e+06  ...              8.897920e+06
mean   1.098111e+00  ...              7.698428e-02
std    9.129054e-01  ...              2.172522e-01
min    1.000000e+00  ...              0.000000e+00
25%    1.000000e+00  ...              0.000000e+00
50%    1.000000e+00  ...              0.000000e+00
75%    1.000000e+00  ...              3.000000e-02
max    9.900000e+01  ...              2.900000e+00

[8 rows x 28 columns]

Removing Outliers

In [0]:
final_df = final_df[
                    (final_df['trip_distance']>0.0) & (final_df['trip_distance']<=400.0) &
                    (final_df['extra']>=0.0) & (final_df['fare_amount']>0.0) &
                    (final_df['mta_tax']>0.0) & (final_df['tolls_amount']>=0.0) &
                    (final_df['improvement_surcharge']>=0.0) & (final_df['total_amount']>0.0)
                   ]

In [21]:
final_df.describe()

         ratecodeid  ...  Precipitation (in) - Sum
count  8.612221e+06  ...              8.612221e+06
mean   1.004731e+00  ...              7.703904e-02
std    1.055968e-01  ...              2.173065e-01
min    1.000000e+00  ...              0.000000e+00
25%    1.000000e+00  ...              0.000000e+00
50%    1.000000e+00  ...              0.000000e+00
75%    1.000000e+00  ...              3.000000e-02
max    6.000000e+00  ...              2.900000e+00

[8 rows x 28 columns]

In [22]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8612221 entries, 0 to 8897919
Data columns (total 31 columns):
 #   Column                       Dtype
---  ------                       -----
 0   vendorid                     object
 1   store_and_fwd_flag           object
 2   ratecodeid                   int64
 3   passenger_count              float64
 4   trip_distance                float64
 5   fare_amount                  float64
 6   extra                        float64
 7   mta_tax                      float64
 8   tolls_amount                 float64
 9   improvement_surcharge        float64
 10  total_amount                 float64
 11  Date                         object
 12  Temp. (Degrees F) - Max      int64
 13  Temp. (Degrees F) - Avg      int64
 14  Temp. (Degrees F) - Min      int64
 15  Dew Point (Degrees F) - Max  int64
 16  Dew Point (Degrees F) - Avg  int64
 17  Dew Point (Degrees F) - Min  int64
 18  Humidity (%) - Max           int64
 19  Humidity (%) - Avg           int64
 20  Humidity (%) - Min           int64
 21  Sea Level Press. (in) - Max  float64
 22  Sea Level Press. (in) - Avg  float64
 23  Sea Level Press. (in) - Min  float64
 24  Visibility (mi) - Max        int64
 25  Visibility (mi) - Avg        int64
 26  Visibility (mi) - Min        int64
 27  Wind (mph) - Avg             int64
 28  Wind (mph) - Min             int64
 29  Wind (mph) - Max             int64
 30  Precipitation (in) - Sum     float64
dtypes: float64(12), int64(16), object(3)
memory usage: 2.1+ GB

## Run 1

Mean Absolute Error & Accuracy

In [0]:
def performance(rf, run1_test_features_df, run1_test_labels_df):
  predictions = rf.predict(run1_test_features_df)
  errors = abs(predictions - run1_test_labels_df)
  print('Mean Absolute Error:', round(np.mean(errors), 2))
  mape = 100 * (errors / run1_test_labels_df)
  accu = 100 - np.mean(mape)
  print('Accuracy:', round(accu, 2), '%.')

In [0]:
# Drop the categorical variables
run1_df = final_df.drop(columns=['vendorid', 'store_and_fwd_flag', 'ratecodeid', 'Date'])

In [0]:
run1_df.info()

Features and Labels

In [0]:
labels = run1_df['total_amount']

In [0]:
features = run1_df.drop(columns='total_amount')
feature_list = list(features.columns)
features = np.array(features)

Train-Test Split

In [0]:
run1_train_features_df, run1_test_features_df, run1_train_labels_df, run1_test_labels_df = train_test_split(features, labels, test_size=0.2, random_state=42)

Min-Max Scaler

In [0]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(run1_train_features_df)
scaled_test = scaler.transform(run1_test_features_df)

Random Forest

In [0]:
rf = RandomForestRegressor(n_estimators = 10, random_state = 42)
rf.fit(run1_train_features_df, run1_train_labels_df)

In [0]:
Lasso
SVM
Gradient boost or XGboost
Neural Networks

After all that GridSearchCV

## Run 2

# Rough

In [0]:
# Null Values
# .isnull().sum().sort_values(ascending = False)